* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
    font-size: 20px;
}
body {
    height: 100vh;
    width: 100vw;
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.layout {
    border: 1px black solid;
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.options {
    width: 70%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}